

body {
  background-image: url(../images/jeopardy_background.jpg);
  background-size: 100% 160%;
  background-repeat: no-repeat;
  height: auto;
  color: white;
  text-shadow: 2px 2px black;
  font-weight: bold;
  font-family: fantasy;

}


#answer, #value, #category {
  margin-top: 1px;
}

h3 {
  margin-bottom: 1px;
}

.points {
  font-size: 25px;
}


h1 {
  font-family: cursive;
  font-size: 50px;
}
